var firebaseConfig = {
  apiKey: "AIzaSyCiJKlcbdTjJbJUX51tkvyyA3uxOYa9T30",
  authDomain: "hades-32258.firebaseapp.com",
  projectId: "hades-32258",
  storageBucket: "hades-32258.appspot.com",
  messagingSenderId: "970951981680",
  appId: "1:970951981680:web:c84a2a32b698e7ad7452b5",
  measurementId: "G-FKYN5MQVVJ"
};