// Import the functions you need from the SDKs you need
import { initializeApp } from "firebase/app";
import { getAnalytics } from "firebase/analytics";
// TODO: Add SDKs for Firebase products that you want to use
// https://firebase.google.com/docs/web/setup#available-libraries

// Your web app's Firebase configuration
// For Firebase JS SDK v7.20.0 and later, measurementId is optional
const firebaseConfig = {
  apiKey: "AIzaSyCiJKlcbdTjJbJUX51tkvyyA3uxOYa9T30",
  authDomain: "hades-32258.firebaseapp.com",
  projectId: "hades-32258",
  storageBucket: "hades-32258.appspot.com",
  messagingSenderId: "970951981680",
  appId: "1:970951981680:web:c84a2a32b698e7ad7452b5",
  measurementId: "G-FKYN5MQVVJ"
};

// Initialize Firebase
const app = initializeApp(firebaseConfig);
const analytics = getAnalytics(app);